

              <!doctype html>
<html lang="en">



  <body>




    <div class="hero" style="background-image: url('../../../../../assets/images1/OG-VoitureFloute1.jpg');">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10">

            <div class="row mb-5">
              <div class="col-lg-7 intro">
                <h2><strong>Welcome to Your Profile on TwSila</strong> <small> - Share the Ride, Share the Journey!</small></h2>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>



      <div class="site-section">
        <div class="container">
            <div class="container-xl px-4 mt-4">

                <hr class="mt-0 mb-4">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Profile Picture</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <!-- Profile picture upload button-->
                                <button class="btn btn-primary" type="button">Upload new image</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Account Details</div>
                            <div class="card-body">
                              <form #formuser="ngForm" (ngSubmit)="updateProfile(formuser)">
                                    <!-- Form Group (username)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername"><strong>Username</strong></label>
                                        <input class="form-control" id="inputUsername" type="text" [(ngModel)]="userProfile.username" name="username">
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName"><strong>First name</strong></label>
                                            <input class="form-control" id="inputFirstName" type="text" [(ngModel)]="userProfile.firstname" name="firstname">
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName"><strong>Last name</strong></label>
                                            <input class="form-control" id="inputLastName" type="text" [(ngModel)]="userProfile.lastname" name="lastname">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">

                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputOrgName"><strong>Phone Number</strong></label>
                                            <input class="form-control" id="inputOrgName" type="text" [(ngModel)]="userProfile.phone" name="phone">
                                        </div>

                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLocation"><strong>Age</strong></label>
                                            <input class="form-control" id="inputLocation" type="text" [(ngModel)]="userProfile.age" name="age">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress"><strong>E-mail address</strong></label>
                                        <input class="form-control" id="inputEmailAddress" type="email" [(ngModel)]="userProfile.email" name="email">
                                    </div>
                                    <div class="mb-3">
                                      <label class="small mb-1" for="inputEmailAddress"><strong>Address</strong></label>
                                      <input class="form-control" id="inputEmailAddress" type="text" [(ngModel)]="userProfile.address" name="address">
                                  </div>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div>












  </body>

</html>












