@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Open Sans",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Add this CSS to make the background image cover the entire screen */
.main-parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Rest of your existing styles for .main-parent */
.main-parent {
    background-image: url(/../../assets/images/OG-VoitureFloute1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Additional styles for the blurred background */
.main-parent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
}



.main-parent .form-wrap
{
    width: 450px;
    background: rgb(255 255 255 / 75%);
    border-radius: 10px;
    padding: 35px 40px;
    backdrop-filter: blur(5px);
}
.form-wrap form h1
{
    font-family: 'Acme', sans-serif;
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.form-wrap form h1 span
{
    font-variant: small-caps;
    color: #cf8326;
}
.form-wrap form .single-input input
{
    width: 100%;
    padding: 14px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3521);
    outline: none;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.form-wrap form .submit-button
{
    text-align: center;
}
.form-wrap form .submit-button button.button
{
    padding: 13px 30px;
    background-color: #cf8326;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.form-wrap form .account-have
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}
.form-wrap form .account-have a
{
    color: rgb(34, 34, 34);
    text-decoration: none;
}

.error-message {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  



  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Optional: Set a height if you want to center vertically within the viewport */
}

.center-div a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size: 14px; /* Adjust font size if needed */
}

.center-div a span {
    margin-left: 5px; /* Add some spacing between the span and the link */
}
