<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addCars" tabindex="-1" aria-labelledby="addCarslabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addCarslabel">Add New Car</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="row g-3"   #f="ngForm" (ngSubmit)="addCars(f)" enctype="multipart/form-data" >

          <div class="col-md-12">
            <label for="image" class="form-label">Vehicle Image</label>
            <input type="file" (change)="onFileSelected($event)" name="image" accept="image/*" required>
          </div>
          <div class="col-md-12">
            <label for="departuredatetime" class="form-label">Departure Date and Time</label>
            <input type="datetime-local" class="form-control" id="departuredatetime" name="departureDateTime" [(ngModel)]="car.departureDateTime" ngModel #departureDateTime="ngModel" required>
          </div>
          <div class="col-md-6">
            <label for="localisation" class="form-label">Departure Location</label>
            <input type="text" class="form-control" id="localisation" name="departureLocation" [(ngModel)]="car.departureLocation"  required>
          </div>
          <div class="col-md-6">
            <label for="destination" class="form-label">Destination Location</label>
            <input type="text" class="form-control" id="destination"  name="destinationLocation" [(ngModel)]="car.destinationLocation" required>
          </div>
          <div class="col-md-6">
            <label for="seatprice" class="form-label">Seat Price</label>
            <input type="number" class="form-control" id="seatprice" name="seatPrice"  [(ngModel)]="car.seatPrice" required>
          </div>
          <div class="col-md-6">
            <label for="seatavailable" class="form-label">Available Seats</label>
            <input type="text" class="form-control" id="seatavailable" name="seatAvailable" [(ngModel)]="car.seatAvailable" required>
          </div>
          <div class="col-md-6">
            <label for="model" class="form-label">Vehicle Model</label>
            <input type="text" class="form-control" id="model" name="model" [(ngModel)]="car.model" required>
          </div>
          <div class="col-md-6">
            <label for="status" class="form-label">Carpool Status</label>
            <select id="status" name="status" class="form-select" [(ngModel)]="car.status" required>
              <option selected>Choose</option>
              <option value="confirmed">Confirmed</option>
              <option value="pending">Pending</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="matricule" class="form-label">Vehicle Registration Number</label>
            <input type="text" class="form-control" id="matricule" name="matricule" [(ngModel)]="car.matricule" maxlength="10" required>
          </div>
          <div class="col-md-6">
            <label for="user" class="form-label">Vehicle Registration Number</label>
            <input type="text" class="form-control" id="user" name="user" [(ngModel)]="car.user" required>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="f.invalid"  >add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

