
<div class="hero" style="background-image: url('../../../../../assets/images/hero_1_a.jpg');">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10">

        <div class="row mb-5">
          <div class="col-lg-7 intro">
            <h2><strong>TwSila: Share the Ride, Share the Journey</strong> <small>  Your Seamless Carpooling Experience Starts Here!</small></h2>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <br>
            <div >
              <button type="button" class="btn btn-outline-warning custom-btn" data-bs-toggle="modal" data-bs-target="#addCars">
                <i class="fas fa-plus-circle fa-lg"></i>   New Car
              </button>
              </div>
              <br>
              <br>

            <app-add-cars></app-add-cars>

        </div>


        <br>
         <div class="row">
          <div class="col-md-6 col-lg-4 mb-4" *ngFor="let car of filteredCars">
            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <a [routerLink]="['/cars/details', car._id]">
                  <img [src]="'http://localhost:5000/uploads/' + car.image" alt="Car Image"></a>
              </div>
              <div class="listing-contents h-100">
                <h3>{{car.model}} </h3>
                <div class="rent-price">
                  <strong>{{car.seatPrice}} DT </strong><span class="mx-1">/</span>Seat
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-7">
                    <span class="caption">Available seat :</span>
                    <span class="number">{{car.seatAvailable}}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Matricule :</span>
                    <span class="number">{{car.matricule}}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Status :</span>
                    <span class="number">{{car.status}}</span>
                  </div>
                </div>
                <div>
                  <span class="caption">Departure Date & Time :</span>
                  <p> <span class="d-block font-weight-bold">{{ car.departureDateTime | date: 'MMM d, y' }}</span>
                    <small>{{ car.departureDateTime | date: 'h:mm a' }}</small></p>
                    <div class="d-block d-md-flex mb-3 border-bottom pb-4">
                      <div class="listing-feature pr-7">
                    <span class="caption">Departure location :</span>
                    <p> <span class="d-block font-weight-bold">{{ car.departureLocation}}</span>
                    </p>
                      </div>
                      <div class="listing-feature pr-7">
                      <span class="caption"> destination location :</span>
                      <p> <span class="d-block font-weight-bold">{{ car.destinationLocation}}</span></p>
                    </div>
                    </div>

                    <a style="color: #dc3545; margin-right: 10px;" (click)="car._id && deleteCar(car._id)" role="button">
                      <i class="fas fa-trash-alt fa-lg"></i>
                    </a>

                    <a style="color: #28a745; margin-right: 10px;" [routerLink]="['/cars/details', car._id]" role="button">
                      <i class="fas fa-eye fa-lg"></i>
                    </a>

                    <a style="color: #007bff; margin-right: 10px;" [routerLink]="['/cars/edit', car._id]" role="button">
                      <i class="fas fa-edit fa-lg"></i>
                    </a>




                </div>
              </div>

            </div>
          </div>





