<app-add-cars></app-add-cars>
<app-searchcars (searchEvent)="searchCar($event)"></app-searchcars>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading"><strong>Car Listings</strong></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-deck">
          <!-- Adjust the card structure based on your requirements -->
          <div *ngFor="let car of filteredCars" class="card mb-4">
            <img src="/assets/images/car_6.jpg" class="card-img-top" alt="Car Image">
            <div class="card-body">
              <h3 class="card-title">{{ car.model }}</h3>
              <div class="rent-price">
                <strong>{{ car.seatPrice }}DT</strong><span class="mx-1">/</span>Seat
              </div>
              <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                <div class="listing-feature pr-4">
                  <span class="caption">Available Seat</span>
                  <span class="number">{{ car.seatAvailable }}</span>
                </div>
                <div class="listing-feature pr-4">
                  <span class="caption">Matricule</span>
                  <span class="number">{{ car.matricule }}</span>
                </div>
                <div class="listing-feature pr-4">
                  <span class="caption">Status</span>
                  <span class="number">{{ car.status }}</span>
                </div>
              </div>

              <div class="listing-feature pr-4">
                <span>Departure Date & Time</span>
                <span class="d-block font-weight-bold">{{ car.departureDateTime | date: 'MMM d, y' }}</span>
                <small>{{ car.departureDateTime | date: 'h:mm a' }}</small>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-danger" (click)="car._id && deleteCar(car._id)">Delete</button>
              <a [routerLink]="['/cars/edit', car._id]" class="btn btn-primary">Edit</a>
            </div>
          </div>
          <!-- Repeat this card structure for each car -->
        </div>
      </div>
    </div>
  </div>
</div>
