<app-searchcars (searchEvent)="searchCar($event)"></app-searchcars>
<app-add-cars></app-add-cars>
<div class="content-area recent-property" style="background-color: #FFF;">
  <div class="container">
              <div class="section">
                  <div id="list-type" class="proerty-th-list">
                      <div class="col-md-4 p0">
                          <div class="box-two proerty-item" *ngFor="let car of filteredCars">
                              <div class="item-thumb">
                                  <img src={{car.image}}>
                              </div>
                              <div class="item-entry overflow" >
                                  <h5>  </h5>
                                  <div class="dot-hr"></div>
                                  <span class="pull-left"><b> Model  :</b> {{car.model}}</span>
                                  <span class="proerty-price pull-right"> {{car.seatPrice}} Dinar Tunisie</span>
                                  <p style="display: none;"><b>Departure Location :</b>{{car.departureLocation}}</p>
                                  <p style="display: none;"><b>Destination Location :</b>{{car.destinationLocation}}</p>
                                  <div class="property-icon">
                                      <img src="assets/img/icon/bed.png">{{car.seatAvailable}}|
                                      <img src="assets/img/icon/shawer.png">{{car.status}}|
                                      <img src="assets/img/icon/cars.png">{{car.departureDateTime}}

                                      <div class="dealer-action pull-right">
                                        <button class="btn btn-primary" [routerLink]="['/books/edit', car.id]"> Edit</button>
                                          <a href="#" class="button delete_user_car">Delete</a>
                                          <button class="button delete_user_car" (click)="deleteCar(car.id)">Delete</button>
                                          <button class="btn btn-primary" [routerLink]="['/books/details', car.id]">view</button>
                                      </div>
                                  </div>


                              </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>



    </div>


