<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  </head>

  <body>


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>





      <div class="hero" style="background-image: url('../../../../../assets/images/hero_1_a.jpg');">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

              <div class="row mb-5">
                <div class="col-lg-7 intro">
                  <h2><strong>TwSila: Share the Ride, Share the Journey</strong> <small>  Your Seamless Carpooling Experience Starts Here!</small></h2>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="site-section">
        <div class="container">
          <h2 class="section-heading"><strong>How it works?</strong></h2>
          <p class="mb-5">Easy steps to get you started</p>

          <div class="row mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>1</span>
                <div class="step-inner">
                  <span class="number text-primary">01.</span>
                  <h3>Select a car</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>2</span>
                <div class="step-inner">
                  <span class="number text-primary">02.</span>
                  <h3>Fill up form</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>3</span>
                <div class="step-inner">
                  <span class="number text-primary">03.</span>
                  <h3>Payment</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <a href="#" class="d-flex align-items-center play-now mx-auto">
                <span class="icon">
                  <span class="icon-play"></span>
                </span>
                <span class="caption">Video how it works</span>
              </a>
            </div>
          </div>
        </div>
      </div>



            <div class="site-section bg-light">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7">
                    <br>
                    <h2 class="section-heading"><strong>Car Listings</strong></h2>
                        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <br>
                <br>
                <br>
                 <div class="row">
                  <div class="col-md-6 col-lg-4 mb-4" *ngFor="let car of filteredCars | slice:0:3">
                    <div class="listing d-block  align-items-stretch">
                      <div class="listing-img h-100 mr-4">
                        <a [routerLink]="['/cars/details', car._id]">
                          <img [src]="'http://localhost:5000/uploads/' + car.image" alt="Car Image"></a>
                      </div>
                      <div class="listing-contents h-100">
                        <h3>{{car.model}} </h3>
                        <div class="rent-price">
                          <strong>{{car.seatPrice}} DT </strong><span class="mx-1">/</span>Seat
                        </div>
                        <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                          <div class="listing-feature pr-7">
                            <span class="caption">Available seat :</span>
                            <span class="number">{{car.seatAvailable}}</span>
                          </div>
                          <div class="listing-feature pr-4">
                            <span class="caption">Matricule :</span>
                            <span class="number">{{car.matricule}}</span>
                          </div>
                          <div class="listing-feature pr-4">
                            <span class="caption">Status :</span>
                            <span class="number">{{car.status}}</span>
                          </div>
                        </div>
                        <div>
                          <span class="caption">Departure Date & Time :</span>
                          <p> <span class="d-block font-weight-bold">{{ car.departureDateTime | date: 'MMM d, y' }}</span>
                            <small>{{ car.departureDateTime | date: 'h:mm a' }}</small></p>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-4">
                              <div class="listing-feature pr-7">
                            <span class="caption">Departure location :</span>
                            <p> <span class="d-block font-weight-bold">{{ car.departureLocation}}</span>
                            </p>
                              </div>
                              <div class="listing-feature pr-7">
                              <span class="caption"> destination location :</span>
                              <p> <span class="d-block font-weight-bold">{{ car.destinationLocation}}</span></p>
                            </div>
                            </div>



                            <a style="color: #28a745; margin-right: 10px;" [routerLink]="['/cars/details', car._id]" role="button">
                              <i class="fas fa-eye fa-lg"></i>
                            </a>


                            <a style="color: #ffc107;" (click)="addToFavorites(car._id)" role="button">
                              <i class="fas fa-star fa-lg"></i>
                            </a>



                        </div>
                      </div>

                    </div>
                  </div>
                 </div>
          </div>
        </div>
      </div>

    <div class="site-section bg-primary py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-md-0">
            <h2 class="mb-0 text-white">What are you waiting for?</h2>
            <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
          </div>
          <div class="col-lg-5 text-md-right">
            <a [routerLink]="['/cars/all'] " class="btn btn-primary btn-white">Show all cars for covoiturage now</a>
          </div>
        </div>
      </div>
    </div>










