
<div class="hero" style="background-image: url('../../../../../assets/images1/OG-VoitureFloute1.jpg');">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10">

        <div class="row mb-5">
          <div class="col-lg-7 intro">
            <h2><strong>To Your Favorite Covoiturage</strong> <small> - Share the Ride, Share the Journey!</small></h2>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

  <div class="site-section bg-light">
    <div class="container">
      <div class="row">


                <div class="container mt-5">
                    <h2>Favorite Cars</h2>

                    <div *ngIf="favorites.length === 0">
                      <p>No favorite cars found.</p>
                    </div>

                    <div *ngFor="let favorite of favorites">
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img [src]="'http://localhost:5000/uploads/' + favorite.car.image" class="img-fluid rounded-start" alt="Car Image">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{ favorite.car.model }}</h5>
                              <p class="card-text">{{ favorite.car.description }}</p>
                              <p class="card-text"><strong>Seat Price:</strong> {{ favorite.car.seatPrice }} DT</p>
                              <p class="card-text"><strong>Available Seats:</strong> {{ favorite.car.seatAvailable }}</p>
                              <p class="card-text"><strong>Matricule:</strong> {{ favorite.car.matricule }}</p>
                              <button class="btn btn-danger" (click)="deleteFavorite(favorite._id)">Remove from Favorites</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



            </div>
          </div>



        </div>














